body {
    font-family: sans-serif;
    margin: 0;
}

/* Cabeçalho */
.cabecalho {
    background-color: #f29b30;
    padding: 20px;
}

.banner {
    text-align: center;
}

/* Conteúdo Principal */
.principal {
    /*Defina a área principal com Flexbox*/
   /*Se os produtos não couberem na mesma linha, deverão ocupar a linha seguinte*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    padding: 20px;
    background-color: #a63921;
}
.produtos, .contato {
    /* Permite que as seções cresçam e encolham e possuam uma largura básica de 300px */
    flex-basis: 1 1 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #0c0c0c;
}

.lista-produtos {
    /*Defina a área principal com Flexbox*/
   /*Se os produtos não couberem na mesma linha, deverão ocupar a linha seguinte*/
   flex-wrap: wrap;
   flex-direction: row;
}

.produto {
    /* Permite que as seções cresçam e encolham e possuam uma largura básica de 200px */
    flex-basis: 1 1 200px;
    margin: 10px;
    text-align: center;
}

.produto img {
    max-width: 100%;
}

.preco {
    font-weight: bold;
    color: #f2c335;
}

/* Rodapé */
.rodape {
    background-color: #f29b30;
    color: #0f0d0d;
    text-align: center;
    padding: 10px;
}

/* Responsividade */
/* Empilha as seções em telas menores */

@media (max-width: 700px ) {
    .principal {
        display: flex;
        flex-direction: column;
    }
}

/* Atividade 3- Cite 3 propriedades diferentes das aplicadas no site e qual a função de cada uma e os valores que cada uma pode assumir.
1- align-content; ele alinha os itens quando há espaço disponível ;align-content:space-between;
2- flex-flow; faz a função do flex direction e do flex wrap ao mesmo tempo ; flex-flow: column nowrap;
3- justify-content ; alinha os itens ao longo do eixo principal do container ; justify-content: end;

Atividade 4) Explique as diferenças para usar flexbox, css grid layout e @media querie

    o media querie precisa de uma condição para ser ativado, o grid layout precisa de definição de linhas e colunas para trabalhar com os itens e o flexbox
    consegue ser trabalhado de forma mais simples, porém so pode se usar ou linha ou coluna.



*/